<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <link rel="stylesheet" href="style.css" />
  <link rel="shortcut icon" href="images/calculator.png" />
  <title>القيمة المطلقة</title>
</head>
<body>
  <header>
    <h1>القيمة المطلقة</h1>
  </header>
  <br>
  <form action="/math/cabs" method="POST">
    <label for="n">الرقم:</label><br>
    <input name="n" type="number" step="any">
    <input type="submit" value="تم"><br>
    <a class="bh" href="/">العودة للصفحة السابقة</a>
  </form>

</body>
</html>