<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <link rel="stylesheet" href="style.css" />
  <link rel="shortcut icon" href="images/calculator.png" />
  <title>مساحة الوجوه الخارجية</title>
</head>
<body>
  <header>
    <h1>مساحة الوجوه الخارجية</h1>
  </header>
  <br>
  <form action="/math/careab" method="POST">
    <label for="h">الطول:</label><br>
    <input type="number" name="h" step="any"><br>
    <label for="w">العرض:</label><br>
    <input type="number" name="w" step="any"><br>
    <label for="e">الإرتفاع:</label><br>
    <input type="number" name="e" step="any">
    <input type="submit" value="تم"><br>
    <a class="bh" href="/">العودة للصفحة السابقة</a>
  </form>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js" integrity="sha512-WIklPM6qPCIp6d3fSSr90j+1unQHUOoWDS4sdTiR8gxUTnyZ8S2Mr8e10sKKJ/bhJgpAa/qG068RDkg6fIlNFA==" crossorigin="anonymous"></script>
</body>
</html>