<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <link rel="stylesheet" href="style.css" />
  <link rel="shortcut icon" href="images/calculator.png" />
  <title>تم الحساب بنجاح</title>
</head>
<body>
  <center>
    <h1>تم الحساب بنجاح: <mark><%= a %></mark></h1>
    <br>
    <h3>التمرين:<br><%- m %></h3>
    <a class="bh" href="/">العودة للصفحة السابقة</a>
  </center>
</body>
</html>