<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <link rel="stylesheet" href="style.css" />
  <link rel="shortcut icon" href="images/calculator.png" />
  <title>أدوات في الرياضيات للصف السابع</title>
</head>
<body>
<div class="home">
  <br>
  <img src="images/calculator.svg" height="75" width="100">
  <h1>أدوات في الرياضيات للصف السابع</h1>

  إختار:
  <ol>
    <li><a href="/math/abs">القيمة المطلقة</a></li>
    <li><a href="/math/pow">القوى</a></li>
    <li><a href="/math/areab">مساحة الوجوه الخارجية لمكعب\صندوق</a></li>
    <li><a href="/math/sizeb">حجم مكعب\صندوق</a></li>
    <li><a href="/math/box">محاكي المكعب والصندوق</a></li>
    <li><a href="/math/fib">فيبوناتشي (جديد!)</a></li>
  </ol>
</div>
</body>
</html>